{{#each contentData as |content| }}
<div class="card customcard backgroundgreen" style="width:100%">
    <div class="card-title position-absolute backgroundbrown textgreen top-0 start-0" style="width: 100%">Edit Post
    </div>
    <form action="#" id="edit">
        <div class="mb-3 backgroundgreen center margintop25" style="width: 95%">
            <label for="titleInput" class="form-label backgroundgreen">Title</label>
            <input type="text" class="form-control" id="titleInput" value="{{{content.title}}}" required>
        </div>
        <div class="mb-3 backgroundgreen center" style="width: 95%">
            <label for="contentInput" class="form-label backgroundgreen">Content</label>
            <input type="text" class="form-control" id="contentInput" value="{{{content.content}}}" required>
        </div>
        <button type="submit" class="btn btn-secondary center" style="width: 95%" id="update">Update Post</button>
        <p></p>
        <button type="submit" class="btn btn-secondary center" style="width: 95%" id="delete">Delete</button>
    </form>
    <span id="error_message" class="textred"></span>
    <p></p>
</div>
{{/each}}

<script src="/js/edit.js"></script>