<div class="card customcard backgroundgreen" style="width:100%">
    <div class="card-title position-absolute backgroundbrown textgreen top-0 start-0" style="width: 100%">Sign Up</div>
    <form action="#" id="signup">
        <div class="mb-3 backgroundgreen center margintop25" style="width: 95%">
            <label for="usernameInput" class="form-label backgroundgreen">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="john@domain.com">
        </div>
        <div class="mb-3 backgroundgreen center" style="width: 95%">
            <label for="passwordInput" class="form-label backgroundgreen">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="input password">
        </div>
        <button type="submit" class="btn btn-secondary center" style="width: 95%">Sign up</button>
    </form>
    <span id="error_message" class="textred"></span>
    <p></p>
        <a href="./login">Login instead</a>
</div>

<script src="/js/signup.js"></script>